<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleExecutable</key><string>Menyradio</string>
<key>CFBundleIdentifier</key><string>se.imwithfriends.Menyradio</string>
<key>CFBundleName</key><string>Menyradio</string>
<key>CFBundleDisplayName</key><string>Menyradio</string>
<key>CFBundleIconFile</key><string>AppIcon</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.3.0</string>
<key>CFBundleVersion</key><string>3</string>
<key>LSMinimumSystemVersion</key><string>14.0</string>
<key>LSUIElement</key><true/>
<key>NSPrincipalClass</key><string>NSApplication</string>
<key>SUFeedURL</key><string>https://raw.githubusercontent.com/viktorbijlenga/menyradio/main/appcast.xml</string>
<key>SUPublicEDKey</key><string>BL/PDkeJ27cYOfxWYLR+pe5S73s/YTl219II+7vawlc=</string>
<key>SUEnableAutomaticChecks</key><false/>
<key>SUAllowsAutomaticUpdates</key><false/>
</dict></plist>
